################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Create_Face_by_Points_and_Optimize/Create_Face_by_Points_and_Optimize.VC.VC.opendb
/Create_Face_by_Points_and_Optimize/Create_Face_by_Points_and_Optimize.VC.db
